<section dir="ltr" id="partners-and-clients"
  [class]="'bg-white relative z-10 transition-all duration-200 ' + sectionPadding()">
  <div class="max-w-350 mx-auto transition-all duration-200 px-(--outer-padding-x)">
    @if (showHeading()) {
    <div [class]="headerClass()">
      <span [class]="subtitleClass()">
        {{ subtitle() | translate }}
      </span>
      <h2 [class]="titleClass()">
        {{ title() | translate }}
      </h2>
    </div>
    }

    <div class="flex flex-col gap-18">
      @if ((apiPartners()?.length ?? 0) > 0) {
      <div [class]="'relative w-full overflow-hidden border-y border-neutral-200 bg-neutral-50/80 ' + sliderPadding()">
        <div
          class="absolute inset-y-0 inset-s-0 w-24 bg-linear-to-r from-white to-transparent z-10 pointer-events-none">
        </div>
        <div
          class="absolute inset-y-0 inset-e-0 w-24 bg-linear-to-l from-white to-transparent z-10 pointer-events-none">
        </div>

        <div class="animate-marquee-left flex gap-12 pe-12 items-center"
          [style.animation-duration]="partnersDuration()">
          @for (item of repeatedPartners(); track $index) {
          <div
            class="flex items-center gap-2.5 text-neutral-500 hover:text-primary transition-colors duration-300 cursor-pointer group shrink-0">
            <app-image [src]="item.logo || '/main-logo.png'" [width]="140" [height]="50" objectFit="contain" />
          </div>
          }
        </div>
      </div>
      }

      @if ((apiClients()?.length ?? 0) > 0) {
      <div [class]="'relative w-full overflow-hidden border-y border-neutral-200 bg-neutral-50/80 ' + sliderPadding()">
        <div
          class="absolute inset-y-0 inset-s-0 w-24 bg-linear-to-r from-white to-transparent z-10 pointer-events-none">
        </div>
        <div
          class="absolute inset-y-0 inset-e-0 w-24 bg-linear-to-l from-white to-transparent z-10 pointer-events-none">
        </div>

        <div class="animate-marquee-right flex gap-12 pe-12 items-center"
          [style.animation-duration]="clientsDuration()">
          <ng-content select="[clientItem]">
            @for (item of repeatedClients(); track $index) {
            <div
              class="flex items-center gap-2.5 text-neutral-500 hover:text-primary transition-colors duration-300 cursor-pointer group shrink-0">
              <app-image [src]="item.logo || '/main-logo.png'" [width]="140" [height]="50" objectFit="contain" />
            </div>
            }
          </ng-content>
        </div>
      </div>
      }
    </div>
  </div>
</section>