/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --font-main: "Inter", sans-serif;
  --font-header: "Space Grotesk", sans-serif;
  --color-primary: #EA8A22;
  --outer-padding-x: 24px;
  --outer-padding-top: 16px;
  --outer-padding-bottom: 4px;
  --hero-border-radius: 40px;
  --video-scale: 1.35;
  --hero-video-blur: 0px;
  --hero-overlay-opacity: 0.15;
  --section-padding-y: 96px;
  --hero-nav-top-spacing: 20px;
  --hero-nav-spacing: calc(2 * var(--hero-nav-top-spacing) + 80px);
  --animate-float-medium: 5s ease-in-out infinite float;
  --animate-float-slow: 8s ease-in-out infinite float;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0)rotate(0)
    }

    50% {
      transform: translateY(-15px)rotate(1deg)
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-main);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-header);
  }
}

@layer utilities {
  .flex-center {
    display: flex;
    place-items: center;
  }

  .main-font {
    font-family: var(--font-main);
  }

  .header-font {
    font-family: var(--font-header);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 9999px;
  }

  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background: #EA8A22;
  }
}